
.title {
   grid-area: title; 
}

.back-button {
    grid-area: backbtn;
}

.blog-content-block {
    grid-area: block;
}



.blog1-page-grid {
    display: none;
    grid-template-columns: 10% 10% auto 10%;
    grid-template-rows: 10% 15% auto;
    grid-template-areas: 
        "backbtn . ."
        ". . title"
        ". block block";
}





.back-button img{
    margin-top: 1vw;
    height: 4.5vw;
    width: 3vw;
}

.blog1-page {
    /* background-color: aqua; */
}

.title-style {
    font-family: 'Raleway', sans-serif;
    font-size: 2vw;
    color: white;
}

.blog-content-block-style {
    font-family: 'Noto Sans TC', sans-serif;
    color: white;
    font-size: 1.3vw;
}

