
.title3 {
    grid-area: title3; 
 }
 
 .back-button {
     grid-area: backbtn;
 }
 
 .blog3-content-block {
     grid-area: block3;
 }
 
 
 
 .blog3-page-grid {
     display: none;
     grid-template-columns: 10% 10% auto 10%;
     grid-template-rows: 10% 15% auto;
     grid-template-areas: 
         "backbtn . ."
         ". . title3"
         ". block3 block3";
 }